<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Document Listing</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- site icon -->
  <link rel="icon" href="images/fevicon.png"
    type="{{ url_for('static',filename='assets/vendor/bootstrap/image/png') }}" />
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" />
  <!-- site css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/style.css') }}" />
  <!-- responsive css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/responsive.css') }}" />
  <!-- color css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/colors.css') }}" />
  <!-- select bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap-select.css')}}" />
  <!-- scrollbar css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/perfect-scrollbar.css')}}" />
  <!-- custom css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/custom.css')}}" />
  <!-- calendar file css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/js/semantic.min.css')}}" />
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

  <style>
    body {
      /* Set "my-sec-counter" to 0 */
      counter-reset: my-sec-counter;
    }

    .numDocument::before {
      /* Increment "my-sec-counter" by 1 */
      counter-increment: my-sec-counter;
      content: counter(my-sec-counter) ".";
    }
  </style>
</head>

<body class="inner_page tables_page">

  <div class="full_container">
    <div class="inner_container">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar_blog_2">
          <div class="logo_section">
            <a href="/"><img style="width: 100%;height: 150px;" class="img-responsive"
                src="{{ url_for('static',filename='assets/vendor/bootstrap/images/logo/logo.png')}}" alt="#" /></a>
          </div>
          <form action="/listemp" autocomplete="on" method="POST" enctype="multipart/form-data">
            <ul class="list-unstyled components">
              <li>
                <button type="submit" class="btnSideBar" formaction="/listEmp"><i class="fa fa-user orange_color2"></i>
                  <span>Employee List</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/goAdd"><i
                    class="fa fa-user-plus yellow_color"></i> <span>Add Employee</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/listDoc"><i class="fa fa-file blue2_color"></i>
                  <span>Document List</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/goUploadDoc"><i
                    class="fa fa-cloud-upload green_color"></i> <span>Upload Document</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/listTraining"><i>
                    <img style="width: fit-content; height: 25px; background: white;"
                      src="{{ url_for('static',filename='assets/vendor/bootstrap/images/layout_img/training_icon.png')}}">
                  </i>
                  <span>Training List</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/goRegisterTraining"><i
                    class="fa fa-user purple_color2"></i> <span>Register Training</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/listLeave"><i
                    class="fa fa-calendar orange_color2"></i> <span>Leave List</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/goAddLeave"><i
                    class="fa fa-calendar-plus-o red_color"></i> <span>Apply Leave</span></button>
              </li>
              <li>
                <button type="submit" class="btnSideBar" formaction="/about"><i class="fa fa-info orange_color2"></i>
                  <span>About Us</span></button>
              </li>
            </ul>
          </form>


        </div>
      </nav>
      <!-- end sidebar -->
      <!-- right content -->
      <div id="content">
        <!-- topbar -->
        <!-- end topbar -->
        <!-- dashboard inner -->
        <div class="midde_cont">
          <div class="container-fluid">
            <div class="row column_title">
              <div class="col-md-12">
                <div class="page_title">
                  <h2>Staff Listing</h2>
                </div>
              </div>
            </div>
            <!-- row -->
            <div class="row">
              <!-- table section -->
              <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                  <div class="full graph_head">
                    <div class="heading1 margin_0">
                      <h2>Staff Listing</h2>
                    </div>
                    <div class="right_topbar">
                      <form action="/searchDoc" method="post">
                        <div class="input-append">
                          <div class="inbox-head"
                            style="float: left; padding: 0px 24px 0px 0px; min-height: unset; background: unset;">
                            <input type="text" class="sr-input" name="doc_name" placeholder="Search Document Name">
                            <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="table_section padding_infor_info">
                    <div class="table-responsive-sm">
                      <table class="table table-hover">
                        <thead>
                          <td>No</td>
                          <td>Document Name</td>
                          <td>Document Are Under</td>
                          <td></td>
                        </thead>
                        <tbody>
                          {% for rows in documentList %}
                          <tr>
                            <form action="/removeDoc" , method="post">
                              <td class="numDocument"></td>
                              <td>{{rows[0]}}</td>
                              <td>{{rows[1]}} {{rows[2]}}</td>
                              <td><button type="submit" name="removeDocument" value="{{rows[0]}}"
                                  formaction="/removeDoc" class="btnRemove">Remove</button><br>
                              </td>
                          </tr>
                          {% endfor %}
                          </form>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


              <!-- footer -->
              <div class="container-fluid">
                <div class="footer">
                  <p>© Copyright 2022: John & Moon Sdn Bhd.</p>
                </div>
              </div>
            </div>
            <!-- end dashboard inner -->
          </div>
        </div>

      </div>
      <!-- jQuery -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/popper.min.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
      <!-- wow animation -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/animate.js')}}"></script>
      <!-- select country -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap-select.js')}}"></script>
      <!-- owl carousel -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/owl.carousel.js')}}"></script>
      <!-- chart js -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/Chart.min.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/Chart.bundle.min.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/utils.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/analyser.js')}}"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/perfect-scrollbar.min.js')}}"></script>
      <script>
        var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- fancy box js -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/jquery-3.3.1.min.js')}}"></script>
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/jquery.fancybox.min.js')}}"></script>
      <!-- custom js -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/custom.js')}}"></script>
      <!-- calendar file css -->
      <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/semantic.min.js')}}"></script>
</body>

</html>