	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form action="/updateEmp" method="POST" enctype="multipart/form-data">
				
				<h2 style="color: grey">{{empData[0]}}</h2>

				<center><img id = "EmpProfileImage" src = "https://{{bucketName}}.s3.amazonaws.com/emp-id-{{empData[0]}}_image_file.png" style="width: 400px; height: 400px"></center>

				<br><br><input type = "file" name = "emp_image_file" onchange = "document.getElementById('EmpProfileImage').src = window.URL.createObjectURL(this.files[0])"><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_id" value="{{empData[0]}}" size="40"><br><br>
				Employee First Name:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_first_name" value="{{empData[1]}}" size="40"><br><br>
				Employee Last Name:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_last_name" value="{{empData[2]}}" size="40"><br><br>
				Primary Skill:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_pri_skill" value="{{empData[3]}}" size="40"><br><br>
				Location:<br> <input style="height:25px;font-size:14pt;" type="text" name="emp_location" value="{{empData[4]}}" size="40"><br><br>

		  		<!-- <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button><br><br> -->

		  		<button type="submit" style="background: white	; height: 45px; width: 200px; color: black; size: 5; font:oblique;" method="GET">GO TO UPDATE DATABASE PAGE</button>

			</form>

			

		</body>
	</font>
</center>

</html>
